*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.app-wrapper{
  display: block;
  background-color: aquamarine;
  min-height: 100vh;
  margin: {
    top: 0%;
    left: 15%;
    right: 15%;
  };
  padding: {
    top: 1px;
  };
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(35, 143, 89);
  &:hover{
      background-color:rgb(24, 100, 62) ;
  }
}
::-webkit-scrollbar-track {
  background-color: rgb(37, 175, 118);
}

@media screen and (max-width: 575px){
  .app-wrapper{
    margin:0;
  }
}