%message_style {
    word-break: break-all;
    border-radius: 10%;
    padding: {
        top: 1%;
        left: 2%;
        right: 2%;
    };
    max-width: 70%;    
}

.Dialog{
    display: flex;
    flex-direction: column;
    grid-area: chat;
    height: 90vh;
    .dialog_wrapper{
        display: flex;
        flex-direction: column;
        padding: {
            top: 5px;
            left: 3px;
            right: 3px;
        }
        background-color: rgb(46, 99, 179);
        overflow-y: auto;
        height: 85%;
        .message_wrapper{
            .message{
                @extend %message_style;
                float: right;
                background-color: rgb(34, 112, 214);
            }
            .your_message{  
                @extend %message_style;
                float: left;
                background-color: rgb(21, 62, 151);
            }
        }
    }
    .messageInput{
        height: 15%;
        background-color: rgb(84, 183, 223);
        border-width: 1px;
        border-color: rgb(27, 51, 37);
        font-size: 16px;
        font-weight:bolder;
        padding: {
            left: 5px;
            right: 5px;
        };
    }
}