%message_style {
    word-break: break-all;
    border-radius: 10%;
    padding: {
        top: 1%;
        left: 2%;
        right: 2%;
    };
    max-width: 70%;    
}

.Dialog{
    display: grid;
    flex-direction: column;
    background-color: wheat;
    grid-area: chat;
    grid-template-rows: 15fr 1fr;
    .dialog_wrapper{
        display: grid;
        grid-template-rows: 1fr;
        padding: 1px;
        background-color: rgb(72, 192, 146);
        .message_wrapper{
            .message{
                @extend %message_style;
                float: right;
                background-color: rgb(47, 173, 152);
            }
            .your_message{  
                @extend %message_style;
                float: left;
                background-color: rgb(21, 151, 112);
            }
        }
    }
    .messageInput{
        background-color: rgb(25, 117, 102);
        border-width: 1px;
        border-radius: 2%;
        border-color: rgb(27, 51, 37);
        font-size: 16px;
        font-weight:bolder;
        position: sticky;
        bottom: 0;
        padding: {
            left: 5px;
            right: 5px;
        };
    }
}