.chatUsers{
    grid-area: users;
    background-color: rgb(35, 75, 206);
    min-width: 20vw;
    height: 90vh;
    overflow-y: auto;
    .user_wrapper{
        display: grid;
        grid-template-rows: auto;
        gap: 1px;
        .user{
            .user_info{
                display: flex;
                justify-content: space-between;
                grid-template-columns: 3fr 3fr;
                padding: {
                    left: 4%;
                    right: 4%;
                };
                .user_name{
                    color: rgb(228, 222, 222);
                    font-size: 14px;
                    text-align: center;
                }
                .user_status{
                    color: rgb(110, 134, 6);
                    font-size:12px;
                    
                }
            }
            .message_wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: black;
                padding: {
                    left: 1%;
                    right: 1%;
                };
                .message_placeholder{
                    color: rgb(69, 131, 212);
                    font-style: italic;
                }
                .message_new{
                    font-size: 16px;
                    font-weight: bolder;
                    text-justify: center;
                    color: rgb(11, 31, 216);
                    border-radius: 100%;
                    height: 50%;
                }
            }
            &:hover{
                background-color: rgb(0, 81, 255)
            }
        }
        .selected_user{
            @extend .user;
            background-color: rgb(46, 99, 179);
            border-color: darkblue;
            border-top-style: solid;
            border-bottom-style: solid;
        }
    }
}

@media screen and (max-width: 265px) {
    .chatUsers{
        min-width: 20px;
    }
}

@media screen and (max-width: 575px){
    .chatUsers{
        min-width: 40px;
        .user_wrapper{
            display: none;
            z-index: 1000;
            position: fixed;
            left: 0;
            .user{
                display: none;
            }
        }
        &:hover{
            position: fixed;
            min-width: 30%;
            .user_wrapper{
                position: unset;
                display: grid;
                .user{
                    display: block;
                }
            }
        }
    }
        


}